* {
    box-sizing: border-box;
    font-weight: bold;
  }
  
  body {
    background:#fff;
    font-size: 22px;
    line-height: 32px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    word-wrap: break-word !important;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
  }
  
    /* ------------------ Header ------------------ */
    
    a {
      color: #FFF;
    }
    
    p {
      text-align: center;
    }
    
    .toggle,
    [id^=drop] {
      display: none;
    }
    
    nav {
      margin: 0;
      padding: 0;
      background-color: #000000;
      border-bottom: 3px solid #0c9bdd;
      height: 100px;
    }
    
    #logo {
      width: 240px;
      height: auto;
      position: relative;
      left: 20px;
    }
    
    #logoa {
      width: 240px;
      height: auto;
      padding: 0;
    }
    
    #logo-footer {
      width: 240px;
      height: auto;
      position: relative;
      left: 50px;
    }
    
    
    #main-toggle {
      cursor: pointer;
      float: right;
      padding: 28px 20px;
      position: relative;
      top: -91px;
      user-select: none;
    }
    
    .nav-icon {
      background: #fff;
      display: block;
      height: 2px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 35px;  /* Largeur bouton burger*/
    }
    
    .nav-icon:before,
    .nav-icon:after {
      background: #fff;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
    }
    
    .nav-icon:before {
      top: 15px;    /* Hauteur bouton burger*/
    }
    
    .nav-icon:after {
      top: -15px;   /* Hauteur bouton burger*/
    }
    
    nav:after {
      content: "";
      display: table;
      clear: both;
    }
    
    nav ul {
      float: right;
      padding: 0;
      margin: 0;
      list-style: none;
      position: relative;
      top: -15px;
      z-index: 1;
      width: 100%;  
    }
    
    nav ul li {
      margin: 0px;
      display: inline-block;
      float: left;
      background-color: #000000;
      position: relative;
      top: -72px;                 /* A MODIFIER TEST */
      left: -320px;                /* A MODIFIER TEST */
    }
    
    nav a {
      display: block;
      padding: 0 20px;
      color: #FFF;
      font-size: 17px;
      font-weight: bold;
      line-height: 60px;
      text-decoration: none;
    }
    
    
    nav a:hover {
      color: #0c9bdd;
    }
    
    nav ul ul {
      display: none;
      position: absolute;
      top: 60px;
    }
    
    nav ul li:hover>ul {
      display: inherit;
    }
    
    nav ul ul li {
      width: 220px;   /* A MODIFIER TEST */
      float: none;
      display: list-item;
      position: relative;
      top: 0;  /* A MODIFIER TEST */
      left: 0;  /* A MODIFIER TEST */
    }
    
    nav ul ul ul li {
      position: relative;
      top: -60px;
      left: 170px;
    }
    
    li>a:only-child:after {
      content: '';
    }
    
    .fas, .fa-caret-down {
      font-size: 14px;
      padding-left: 3px;
    }
    
    
    /* ------------------ Header Responsive ------------------ */
    
    @media all and (max-width : 320px) {
    
      #logo {
        width: 170px;
        height: auto;
        position: relative;
        top: 12px;
      }
    
      .toggle+a,
      .menu {
        display: none;
      }
    
      .toggle {
        display: block;
        padding: 0 20px;
        color: #FFF;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
      }
    
    .toggle:hover {
        color: #0c9bdd;
      }
    
      #main-toggle {
        top: -64px;     /*Position X Bouton burger*/
      }
  
      [id^=drop]:checked+ul {
        display: block;
      }
    
      nav ul li {
        display: block;
        width: 100%;
        position: relative;
        top: -24px;   /*Posiition X menu burger*/
        left: 0;
      }
    
      nav ul ul {
        float: none;
        position: static;
        color: #ffffff;
        border-top: 3px solid #0c9bdd;
        border-bottom: 3px solid #0c9bdd;
      }
    
      nav ul ul li:hover>ul,
      nav ul li:hover>ul {
        display: none;
      }
  
      }
  
      @media all and (max-width : 640px) {
    
        #logo {
          width: 200px;
          height: auto;
          position: relative;
          top: 9px;
        }
      
        .toggle+a,
        .menu {
          display: none;
        }
      
        .toggle {
          display: block;
          padding: 0 20px;
          color: #FFF;
          font-size: 20px;
          line-height: 60px;
          text-decoration: none;
          border: none;
        }
      
      .toggle:hover {
          color: #0c9bdd;
        }
      
        #main-toggle {
          top: -73px;     /*Position X Bouton burger*/
        }
    
        [id^=drop]:checked+ul {
          display: block;
        }
      
        nav ul li {
          display: block;
          width: 100%;
          position: relative;
          top: -35px;   /*Posiition X menu burger*/
          left: 0;
        }
      
        nav ul ul {
          float: none;
          position: static;
          color: #ffffff;
          border-top: 3px solid #0c9bdd;
          border-bottom: 3px solid #0c9bdd;
        }
      
        nav ul ul li:hover>ul,
        nav ul li:hover>ul {
          display: none;
        }
    
        }
  
        @media all and (max-width : 1024px) {
    
          #logo {
            width: 200px;
            height: auto;
            position: relative;
            top: 9px;
          }
        
          .toggle+a,
          .menu {
            display: none;
          }
        
          .toggle {
            display: block;
            padding: 0 20px;
            color: #FFF;
            font-size: 20px;
            line-height: 60px;
            text-decoration: none;
            border: none;
          }
        
        .toggle:hover {
            color: #0c9bdd;
          }
        
          #main-toggle {
            top: -73px;     /*Position X Bouton burger*/
          }
      
          [id^=drop]:checked+ul {
            display: block;
          }
        
          nav ul li {
            display: block;
            width: 100%;
            position: relative;
            top: -35px;   /*Posiition X menu burger*/
            left: 0;
          }
        
          nav ul ul {
            float: none;
            position: static;
            color: #ffffff;
            border-top: 3px solid #0c9bdd;
            border-bottom: 3px solid #0c9bdd;
          }
        
          nav ul ul li:hover>ul,
          nav ul li:hover>ul {
            display: none;
          }
      
          }
    @media all and (max-width : 640px) {
    
            #logo {
              width: 200px;
              height: auto;
              position: relative;
              top: 9px;
            }
          
            .toggle+a,
            .menu {
              display: none;
            }
          
            .toggle {
              display: block;
              padding: 0 20px;
              color: #FFF;
              font-size: 20px;
              line-height: 60px;
              text-decoration: none;
              border: none;
            }
          
          .toggle:hover {
              color: #0c9bdd;
            }
          
            #main-toggle {
              top: -73px;     /*Position X Bouton burger*/
            }
        
            [id^=drop]:checked+ul {
              display: block;
            }
          
            nav ul li {
              display: block;
              width: 100%;
              position: relative;
              top: -35px;   /*Posiition X menu burger*/
              left: 0;
            }
          
            nav ul ul {
              float: none;
              position: static;
              color: #ffffff;
              border-top: 3px solid #0c9bdd;
              border-bottom: 3px solid #0c9bdd;
            }
          
            nav ul ul li:hover>ul,
            nav ul li:hover>ul {
              display: none;
            }
        
            }
  
            @media all and (min-width : 1024px) {
              nav ul li {
                left: 275px;                /* A MODIFIER TEST */
              }
            }
  
            @media all and (min-width : 1280px) {
              nav ul li {
                left: 275px;                /* A MODIFIER TEST */
              }
            }
  
            @media all and (min-width : 1400px) {
              nav ul li {
                left: 300px;                /* A MODIFIER TEST */
              }
            }
  
            @media all and (min-width : 1680px) {
              nav ul li {
                left: 300px;                /* A MODIFIER TEST */
              }
            }
  
            @media all and (min-width : 1920px) {
              nav ul li {
                left: 300px;                /* A MODIFIER TEST */
              }
            }
            @media all and (min-width : 2048px) {
              nav ul li {
                left: 300px;                /* A MODIFIER TEST */
              }
            }
            @media all and (min-width : 2560px) {
              nav ul li {
                left: 300px;                /* A MODIFIER TEST */
              }
            }
            @media all and (min-width : 3440px) {
              nav ul li {
                left: 300px;                /* A MODIFIER TEST */
              }
            }
            @media all and (min-width : 3840px) {
              nav ul li {
                left: 300px;                /* A MODIFIER TEST */
              }
            }
            @media all and (min-width : 4096px) {
              nav ul li {
                left: 300px;                /* A MODIFIER TEST */
              }
            }
            @media all and (min-width : 7680px) {
              nav ul li {
                left: 300px;                /* A MODIFIER TEST */
              }
            }
  
  /* ------------------ S1 ------------------ */
  
    .s1 {
        width: 100%;
        height: 2575px;
        background-color: #080808;
        position: relative;
    }
    .s1 h1 {
        margin: 0;
        color: #0c9bdd;
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
    }

    .form {
        width: 50%;
        height: 1000px;
        background-color: #131313;
        position: absolute;
        top: 150px;
        left: 50%;
        transform: translateX(-50%);
    }
    .form div:first-child label  {
        color: #ffffff;
        font-size: 15px;
        position: absolute;
        top: 30px;
        left: 50px;
    }   
    .form div:first-child input {
        width: 250px;
        height: 25px;
        position: absolute;
        top: 58px;
        left: 50px;
        background-color: #000000;
        border: 1px solid #000000;
        color: #fff;

    }
    .form div:nth-child(2) label  {
        color: #fff;
        font-size: 15px;
        position: absolute;
        top: 30px;
        left: 370px;
    }   
    .form div:nth-child(2) input {
        width: 250px;
        height: 25px;
        position: absolute;
        top: 58px;
        left: 370px;
        background-color: #000000;
        border: 1px solid #000000;
        color: #fff;

    }
    .form div:nth-child(3) label  {
        color: #fff;
        font-size: 15px;
        position: absolute;
        top: 107px;
        left: 50px;
    }   
    .form div:nth-child(3) input {
        width: 250px;
        height: 25px;
        position: absolute;
        top: 135px;
        left: 50px;
        background-color: #000000;
        border: 1px solid #000000;
        color: #fff;

    }
    .form div:nth-child(4) label  {
        color: #fff;
        font-size: 15px;
        position: absolute;
        top: 107px;
        left: 370px;
    }   
    .form div:nth-child(4) input {
        width: 250px;
        height: 25px;
        position: absolute;
        top: 135px;
        left: 370px;
        background-color: #000000;
        border: 1px solid #000000;
        color: #fff;

    }
    .form div:nth-child(5) label  {
        color: #fff;
        font-size: 15px;
        position: absolute;
        top: 184px;
        left: 50px;
    }   
    .form div:nth-child(5) input {
        width: 250px;
        height: 25px;
        position: absolute;
        top: 212px;
        left: 50px;
        background-color: #000000;
        border: 1px solid #000000;
        color: #fff;
    }
    .form div:nth-child(6) label  {
        color: #fff;
        font-size: 15px;
        position: absolute;
        top: 184px;
        left: 370px;
    }   
    .form div:nth-child(6) input {
        width: 250px;
        height: 25px;
        position: absolute;
        top: 212px;
        left: 370px;
        background-color: #000000;
        border: 1px solid #000000;
        color: #fff;
    }
    .form div:nth-child(7) label  {
        color: #fff;
        font-size: 15px;
        position: absolute;
        top: 261px;
        left: 50px;
    }   
    .form div:nth-child(7) input {
        width: 250px;
        height: 25px;
        position: absolute;
        top: 289px;
        left: 50px;
        background-color: #000000;
        border: 1px solid #000000;
        color: #fff;
    }
    .form div:nth-child(8) label  {
        color: #fff;
        font-size: 15px;
        position: absolute;
        top: 261px;
        left: 370px;
    }   
    .form div:nth-child(8) input {
        width: 250px;
        height: 25px;
        position: absolute;
        top: 289px;
        left: 370px;
        background-color: #000000;
        border: 1px solid #000000;
        color: #fff;
    }
    .form div:nth-child(9) label  {
        color: #fff;
        font-size: 15px;
        position: absolute;
        top: 338px;
        left: 50%;
        transform: translateX(-50%);
    }   
    .form div:nth-child(9) select {
        width: 250px;
        height: 25px;
        position: absolute;
        top: 366px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #000000;
        border: 1px solid #000000;
        color: #fff;
    }
    .form div:nth-child(10) label  {
        color: #fff;
        font-size: 15px;
        position: absolute;
        top: 415px;
        left: 50px;
    }   
    .form div:nth-child(10) textarea {
        resize: none;
        width: 570px;
        height: 250px;
        position: absolute;
        top: 443px;
        left: 50px;
        background-color: #000000;
        border: 1px solid #000000;
        color: #fff;
    }
    .form div:nth-child(11) label  {
        color: #fff;
        font-size: 15px;
        position: absolute;
        top: 722px;
        left: 50px;
    }   
    .form div:nth-child(11) textarea {
        resize: none;
        width: 570px;
        height: 75px;
        position: absolute;
        top: 750px;
        left: 50px;
        background-color: #000000;
        border: 1px solid #000000;
        color: #fff;
    }


    .form button {
        color: #0c9bdd;
        background-color: #131313;
        border: 1px solid #0c9bdd;
        width: 200px;
        height: 30px;
        position: absolute;
        top: 90%;
        left: 90%;
        transform: translateX(-80%);
    }
    .form button:hover {
        color: #fff;
        background-color: #0c9bdd;
        transition: .5s;
    }

  /* ------------------ S1 Responsive ------------------ */

    @media all and (min-width : 320px) {
      .s1 {
        height: 1600px;
      }
      .s1 h1 {
        font-size: 17px;
        position: absolute;
        width: 260px;
        top: 58px;
      }

      .form {
        width: 80%;
        height: 1350px;
        background-color: #131313;
        position: absolute;
        top: 150px;
        left: 50%;
        transform: translateX(-50%);
    }
    .form div:first-child label  {
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
    }   
    .form div:first-child input {
        width: 245px;
        height: 25px;
        top: 58px;
        left: 50%;
        transform: translateX(-50%);
    }
    .form div:nth-child(2) label  {
      top: 107px;
      left: 50%;
      transform: translateX(-50%);
  }   
  .form div:nth-child(2) input {
      width: 250px;
      height: 25px;
      top: 135px;
      left: 50%;
      transform: translateX(-50%);
  }
  .form div:nth-child(3) label  {
    top: 184px;
    left: 50%;
    transform: translateX(-50%);
}   
.form div:nth-child(3) input {
    width: 250px;
    height: 25px;
    top: 212px;
    left: 50%;
    transform: translateX(-50%);
}
.form div:nth-child(4) label  {
  top: 261px;
  left: 50%;
  transform: translateX(-50%);
}   
.form div:nth-child(4) input {
  width: 250px;
  height: 25px;
  top: 289px;
  left: 50%;
  transform: translateX(-50%);
}
.form div:nth-child(5) label  {
  top: 338px;
  left: 50%;
  transform: translateX(-50%);
}   
.form div:nth-child(5) input {
  width: 250px;
  height: 25px;
  top: 366px;
  left: 50%;
  transform: translateX(-50%);
}
.form div:nth-child(6) label  {
  top: 415px;
  left: 50%;
  transform: translateX(-50%);
}   
.form div:nth-child(6) input {
  width: 250px;
  height: 25px;
  top: 443px;
  left: 50%;
  transform: translateX(-50%);
}
.form div:nth-child(7) label  {
  top: 492px;
  left: 50%;
  transform: translateX(-50%);
}   
.form div:nth-child(7) input {
  width: 250px;
  height: 25px;
  top: 520px;
  left: 50%;
  transform: translateX(-50%);
}
.form div:nth-child(8) label  {
  top: 569px;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
}   
.form div:nth-child(8) input {
  width: 250px;
  height: 25px;
  top: 597px;
  left: 50%;
  transform: translateX(-50%);
}
.form div:nth-child(9) label  {
  top: 646px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  width: 239px;
}   
.form div:nth-child(9) select {
  width: 250px;
  height: 25px;
  top: 674px;
  left: 50%;
  transform: translateX(-50%);
}
.form div:nth-child(10) label  {
  top: 723px;
  left: 50%;
  transform: translateX(-50%);
}   
.form div:nth-child(10) textarea {
  width: 250px;
  height: 200px;
  top: 751px;
  left: 50%;
  transform: translateX(-50%);
}
.form div:nth-child(11) label  {
  top: 975px;
  left: 50%;
  transform: translateX(-50%);
  width: 233px;
}   
.form div:nth-child(11) textarea {
  width: 250px;
  height: 200px;
  top: 1003px;
  left: 50%;
  transform: translateX(-50%);
}
.s1 button {
  top: 1250px;
  left: 50%;
  transform: translateX(-50%);
}
    }

    @media all and (min-width : 800px) {
      .s1 h1 {
        font-size: 25px;
        width: 382px;
      }
    .form div:first-child input {
      width: 500px;
    }
  .form div:nth-child(2) input {
      width: 500px;
  }   
.form div:nth-child(3) input {
  width: 500px;
}
.form div:nth-child(4) input {
  width: 500px;
}  
.form div:nth-child(5) input {
  width: 500px;
}
.form div:nth-child(6) input {
  width: 500px;
}
.form div:nth-child(7) input {
  width: 500px;
}
.form div:nth-child(8) input {
  width: 500px;
}
.form div:nth-child(9) select {
  width: 500px;
}  
.form div:nth-child(10) textarea {
  width: 500px;
}
.form div:nth-child(11) textarea {
  width: 500px;
}
.s1 button {
  top: 1250px;
  left: 50%;
  transform: translateX(-50%);
}
    }
    @media all and (min-width : 1024px) {
      .s1 h1 {
        font-size: 25px;
      }
    .form div:first-child input {
      width: 500px;
    }
  .form div:nth-child(2) input {
      width: 500px;
  }   
.form div:nth-child(3) input {
  width: 500px;
}
.form div:nth-child(4) input {
  width: 500px;
}  
.form div:nth-child(5) input {
  width: 500px;
}
.form div:nth-child(6) input {
  width: 500px;
}
.form div:nth-child(7) input {
  width: 500px;
}
.form div:nth-child(8) input {
  width: 500px;
}
.form div:nth-child(9) select {
  width: 500px;
}  
.form div:nth-child(10) textarea {
  width: 500px;
}
.form div:nth-child(11) textarea {
  width: 500px;
}
.s1 button {
  top: 1250px;
  left: 50%;
  transform: translateX(-50%);
}
@media all and (min-width : 1300px) {
  .s1 {
    width: 100%;
    height: 1375px;
    background-color: #080808;
    position: relative;
}
.s1 h1 {
    margin: 0;
    color: #0c9bdd;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.form {
    width: 650px;
    height: 1000px;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
}
.form div:first-child label  {
    top: 30px;
    left: 85px;
    color: #fff;
}   
.form div:first-child input {
    width: 250px;
    height: 25px;
    position: absolute;
    top: 58px;
    left: 150px;
    background-color: #000000;
    border: 1px solid #000000;
    color: #fff;

}
.form div:nth-child(2) label  {
    color: #fff;
    font-size: 15px;
    position: absolute;
    top: 30px;
    left: 420px;
}   
.form div:nth-child(2) input {
    width: 250px;
    height: 25px;
    position: absolute;
    top: 58px;
    left: 500px;
    background-color: #000000;
    border: 1px solid #000000;
    color: #fff;

}
.form div:nth-child(3) label  {
    color: #fff;
    font-size: 15px;
    position: absolute;
    top: 107px;
    left: 68px;
}   
.form div:nth-child(3) input {
    width: 250px;
    height: 25px;
    position: absolute;
    top: 135px;
    left: 150px;
    background-color: #000000;
    border: 1px solid #000000;
    color: #fff;

}
.form div:nth-child(4) label  {
    color: #fff;
    font-size: 15px;
    position: absolute;
    top: 107px;
    left: 428px;
}   
.form div:nth-child(4) input {
    width: 250px;
    height: 25px;
    position: absolute;
    top: 135px;
    left: 500px;
    background-color: #000000;
    border: 1px solid #000000;
    color: #fff;

}
.form div:nth-child(5) label  {
    color: #fff;
    font-size: 15px;
    position: absolute;
    top: 184px;
    left: 85px;
}   
.form div:nth-child(5) input {
    width: 250px;
    height: 25px;
    position: absolute;
    top: 212px;
    left: 150px;
    background-color: #000000;
    border: 1px solid #000000;
    color: #fff;
}
.form div:nth-child(6) label  {
    color: #fff;
    font-size: 15px;
    position: absolute;
    top: 184px;
    left: 433px;
}   
.form div:nth-child(6) input {
    width: 250px;
    height: 25px;
    position: absolute;
    top: 212px;
    left: 500px;
    background-color: #000000;
    border: 1px solid #000000;
    color: #fff;
}
.form div:nth-child(7) label  {
    color: #fff;
    font-size: 15px;
    position: absolute;
    top: 261px;
    left: 85px;
}   
.form div:nth-child(7) input {
    width: 250px;
    height: 25px;
    position: absolute;
    top: 289px;
    left: 150px;
    background-color: #000000;
    border: 1px solid #000000;
    color: #fff;
}
.form div:nth-child(8) label  {
    color: #fff;
    font-size: 15px;
    position: absolute;
    top: 261px;
    left: 448px;
}   
.form div:nth-child(8) input {
    width: 250px;
    height: 25px;
    position: absolute;
    top: 289px;
    left: 500px;
    background-color: #000000;
    border: 1px solid #000000;
    color: #fff;
}
.form div:nth-child(9) label  {
    color: #fff;
    font-size: 15px;
    position: absolute;
    top: 338px;
    left: 50%;
    transform: translateX(-50%);
    width: 256px;
}   
.form div:nth-child(9) select {
    width: 250px;
    height: 25px;
    position: absolute;
    top: 366px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000;
    border: 1px solid #000000;
    color: #fff;
}
.form div:nth-child(10) label  {
    color: #fff;
    font-size: 15px;
    position: absolute;
    top: 415px;
    left: 50%;
    transform: translateX(-50%);
}   
.form div:nth-child(10) textarea {
    resize: none;
    width: 570px;
    height: 250px;
    position: absolute;
    top: 443px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000;
    border: 1px solid #000000;
    color: #fff;
}
.form div:nth-child(11) label  {
    color: #fff;
    font-size: 15px;
    position: absolute;
    top: 722px;
    left: 50%;
    transform: translateX(-50%);
}   
.form div:nth-child(11) textarea {
    resize: none;
    width: 570px;
    height: 75px;
    position: absolute;
    top: 750px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000;
    border: 1px solid #000000;
    color: #fff;
}


.form button {
    color: #0c9bdd;
    background-color: #131313;
    border: 1px solid #0c9bdd;
    width: 200px;
    height: 30px;
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translateX(-80%);
}
.form button:hover {
    color: #fff;
    background-color: #0c9bdd;
    transition: .5s;
}

}

    }
  /* ------------------ Footer ------------------ */
  
  footer {
    background-color: #000000;
    border-top: 3px solid #0c9bdd;
    position: relative;
    width: 100%;
    height: 300px;
  }
  
  #logo-footer {
    width: 240px;
    height: auto;
    position: relative;
    left: 50px;
    top: 25px;
  }
  
  footer p {
    color: #878888;
    font-size: 17px;
    font-weight: normal;
    text-transform: uppercase;
    position: absolute;
    top: 150px;
    left: 2%;
  }
  
  footer h1 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .webtv h1 {
    position: absolute;
    top: 20px;
    left: 400px;
  }
  
  .webtv .fh {
    position: absolute;
    top: 60px;
    left: 400px;
    font-size: 17px;
  }
  
  .webtv .fwtv {
    position: absolute;
    top: 90px;
    left: 400px;
    font-size: 17px;
  }
  
  .teams h1 {
    position: absolute;
    top: 20px;
    left: 570px;
    font-size: 17px;
  }
  
  .teams .ff {
    position: absolute;
    top: 60px;
    left: 570px;
    font-size: 17px;
  }
  
  .teams .fl {
    position: absolute;
    top: 90px;
    left: 570px;
    font-size: 17px;
  }
  
  .club h1 {
    position: absolute;
    top: 20px;
    left: 800px;
  }
  
  .club .fn {
    position: absolute;
    top: 60px;
    left: 800px;
    font-size: 17px;
  }
  
  .club .fsh {
    position: absolute;
    top: 90px;
    left: 800px;
    font-size: 17px;
  }
  
  .club .fst {
    position: absolute;
    top: 120px;
    left: 800px;
    font-size: 17px;
  }
  
  .club .fap {
    position: absolute;
    top: 150px;
    left: 800px;
    font-size: 17px;
  }
  
  .club .frec {
    position: absolute;
    top: 180px;
    left: 800px;
    font-size: 17px;
  }
  
  .socials h1 {
    position: absolute;
    top: 20px;
    left: 1000px;
  }
  
  .socials .ft {
    position: absolute;
    top: 60px;
    left: 1000px;
    font-size: 17px;
  }
  
  .socials .fd {
    position: absolute;
    top: 90px;
    left: 1000px;
    font-size: 17px;
  }
  
  .socials .fy {
    position: absolute;
    top: 120px;
    left: 1000px;
    font-size: 17px;
  }
  
  .socials .flive {
    position: absolute;
    top: 150px;
    left: 1000px;
    font-size: 17px;
  }
  
  .socials .fi {
    position: absolute;
    top: 180px;
    left: 1000px;
    font-size: 17px;
  }
  
  
  footer a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #878888;
  }
  
  footer a:hover {
    text-decoration: none;
    color: #0c9bdd;
  }
  
  .credits a {
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: 250px;
    left: 2%;
  }
  
  .credits a:hover {
    color: #fff;
  }
  
  .credits i {
    margin-left: 2px;
    margin-right: 2px;
  }
  
  /* ------------------ Footer - Responsive ------------------ */
  
  @media all and (max-width : 1280px) {
  
    #logo-footer {
      position: absolute;
      left: 50px;
    }
  }
  
  @media all and (max-width : 1225px) {
  
    footer {
      height: 900px;
      z-index: 20;
    }
  
    #logo-footer {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  
    .webtv {
      position: relative;
    }
  
    .webtv h1 {
      position: absolute;
      top: 100px;
      left: 50%;
      transform: translateX(-50%);
    }
  
    .webtv .fh {
      position: absolute;
      top: 140px;
      left: 50%;
      transform: translateX(-50%);
    }
  
    .webtv .fwtv {
      position: absolute;
      top: 170px;
      left: 50%;
      transform: translateX(-50%);
    }
  
    .teams {
      position: relative;
    }
  
    .teams h1 {
      position: absolute;
      top: 210px;
      left: 50%;
      transform: translateX(-50%);
    }
  
    .teams .ff {
      position: absolute;
      top: 250px;
      left: 50%;
      transform: translateX(-50%);
    }
  
    .teams .fl {
      position: absolute;
      top: 280px;
      left: 50%;
      transform: translateX(-50%);
    }
  
    .club {
      position: relative;
    }
  
    .club h1 {
      top: 320px;
      left: 50%;
      transform: translateX(-50%);
    }
  
    .club .fn {
      top: 360px;
      left: 50%;
      transform: translateX(-50%);
    }
  
    .club .fsh {
      top: 390px;
      left: 50%;
      transform: translateX(-50%);
    }
  
    .club .fst {
      top: 420px;
      left: 50%;
      transform: translateX(-50%);
    }
  
    .club .fap {
      top: 450px;
      left: 50%;
      transform: translateX(-50%);
    }
  
    .club .frec {
      top: 480px;
      left: 50%;
      transform: translateX(-50%);
    }
  
    .socials {
      position: relative;
    }
  
    .socials h1 {
      top: 520px;
      left: 50%;
      transform: translateX(-50%);
    }
  
    .socials .ft {
      top: 560px;
      left: 50%;
      transform: translateX(-50%);
    }
  
    .socials .fd {
      top: 590px;
      left: 50%;
      transform: translateX(-50%);
    }
  
    .socials .fy {
      top: 620px;
      left: 50%;
      transform: translateX(-50%);
    }
  
    .socials .flive {
      top: 650px;
      left: 50%;
      transform: translateX(-50%);
    }
  
    .socials .fi {
      top: 680px;
      left: 50%;
      transform: translateX(-50%);
    }
  
    footer p {
      top: 750px;
      left: 50%;
      transform: translateX(-50%);
    }
  
    .credits a {
      top: 845px;
      left: 50%;
      transform: translateX(-50%);
    }
  
  }
  
  @media all and (max-width : 550px) {
    footer {
      height: 1000px;
    }
    footer p {
      width: 210px;
      left: 55%;
    }
    .credits a {
      top: 910px;
    }
  }