* {
    box-sizing: border-box;
    font-weight: bold;
  }
  
  body {
    background:#fff;
    font-size: 22px;
    line-height: 32px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    word-wrap: break-word !important;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
  }
  
    
    /* ------------------ Header ------------------ */
    
    a {
      color: #FFF;
    }
      
    p {
      text-align: center;
    }
      
    .toggle, [id^=drop] {
        display: none;
    }
      
    nav {
      margin: 0;
      padding: 0;
      background-color: #000000;
      border-bottom: 3px solid #0c9bdd;
      height: 100px;
    }
      
    #logo {
      width: 240px;
      height: auto;
      position: relative;
      left: 20px;
    }
      
    #logoa {
      width: 240px;
      height: auto;
      padding: 0;
    }
      
    #logo-footer {
      width: 240px;
      height: auto;
      position: relative;
      left: 50px;
    }
      
      
    #main-toggle {
      cursor: pointer;
      float: right;
      padding: 28px 20px;
      position: relative;
      top: -91px;
      user-select: none;
    }
      
    .nav-icon {
      background: #fff;
      display: block;
      height: 2px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 35px;  /* Largeur bouton burger*/
    }
      
    .nav-icon:before, .nav-icon:after {
      background: #fff;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
    }
      
      .nav-icon:before {
        top: 15px;    /* Hauteur bouton burger*/
      }
      
      .nav-icon:after {
        top: -15px;   /* Hauteur bouton burger*/
      }
      
      nav:after {
        content: "";
        display: table;
        clear: both;
      }
      
      nav ul {
        float: right;
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
        top: -15px;
        z-index: 999;
        width: 100%;  
      }
      
      nav ul li {
        margin: 0px;
        display: inline-block;
        float: left;
        background-color: #000000;
        position: relative;
        top: -72px;                 /* A MODIFIER TEST */
        left: -320px;                /* A MODIFIER TEST */
      }
      
      nav a {
        display: block;
        padding: 0 20px;
        color: #FFF;
        font-size: 17px;
        font-weight: bold;
        line-height: 60px;
        text-decoration: none;
      }
      
      
      nav a:hover {
        color: #0c9bdd;
      }
      
      nav ul ul {
        display: none;
        position: absolute;
        top: 60px;
      }
      
      nav ul li:hover>ul {
        display: inherit;
      }
      
      nav ul ul li {
        width: 220px;   /* A MODIFIER TEST */
        float: none;
        display: list-item;
        position: relative;
        top: 0;  /* A MODIFIER TEST */
        left: 0;  /* A MODIFIER TEST */
      }
      
      nav ul ul ul li {
        position: relative;
        top: -60px;
        left: 170px;
      }
      
      li>a:only-child:after {
        content: '';
      }
      
      .fas, .fa-caret-down {
        font-size: 14px;
        padding-left: 3px;
      }
      
      /* ------------------ Header Responsive ------------------ */
      
      @media all and (max-width : 320px) {
      
        #logo {
          width: 170px;
          height: auto;
          position: relative;
          top: 12px;
        }
      
        .toggle+a,
        .menu {
          display: none;
        }
      
        .toggle {
          display: block;
          padding: 0 20px;
          color: #FFF;
          font-size: 20px;
          line-height: 60px;
          text-decoration: none;
          border: none;
        }
      
      .toggle:hover {
          color: #0c9bdd;
        }
      
        #main-toggle {
          top: -64px;     /*Position X Bouton burger*/
        }
    
        [id^=drop]:checked+ul {
          display: block;
        }
      
        nav ul li {
          display: block;
          width: 100%;
          position: relative;
          top: -24px;   /*Posiition X menu burger*/
          left: 0;
        }
      
        nav ul ul {
          float: none;
          position: static;
          color: #ffffff;
          border-top: 3px solid #0c9bdd;
          border-bottom: 3px solid #0c9bdd;
        }
      
        nav ul ul li:hover>ul,
        nav ul li:hover>ul {
          display: none;
        }
    
        }
    
        @media all and (max-width : 640px) {
      
          #logo {
            width: 200px;
            height: auto;
            position: relative;
            top: 9px;
          }
        
          .toggle+a,
          .menu {
            display: none;
          }
        
          .toggle {
            display: block;
            padding: 0 20px;
            color: #FFF;
            font-size: 20px;
            line-height: 60px;
            text-decoration: none;
            border: none;
          }
        
        .toggle:hover {
            color: #0c9bdd;
          }
        
          #main-toggle {
            top: -73px;     /*Position X Bouton burger*/
          }
      
          [id^=drop]:checked+ul {
            display: block;
          }
        
          nav ul li {
            display: block;
            width: 100%;
            position: relative;
            top: -35px;   /*Posiition X menu burger*/
            left: 0;
          }
        
          nav ul ul {
            float: none;
            position: static;
            color: #ffffff;
            border-top: 3px solid #0c9bdd;
            border-bottom: 3px solid #0c9bdd;
          }
        
          nav ul ul li:hover>ul,
          nav ul li:hover>ul {
            display: none;
          }
      
          }
    
          @media all and (max-width : 1024px) {
      
            #logo {
              width: 200px;
              height: auto;
              position: relative;
              top: 9px;
            }
          
            .toggle+a,
            .menu {
              display: none;
            }
          
            .toggle {
              display: block;
              padding: 0 20px;
              color: #FFF;
              font-size: 20px;
              line-height: 60px;
              text-decoration: none;
              border: none;
            }
          
          .toggle:hover {
              color: #0c9bdd;
            }
          
            #main-toggle {
              top: -73px;     /*Position X Bouton burger*/
            }
        
            [id^=drop]:checked+ul {
              display: block;
            }
          
            nav ul li {
              display: block;
              width: 100%;
              position: relative;
              top: -35px;   /*Posiition X menu burger*/
              left: 0;
            }
          
            nav ul ul {
              float: none;
              position: static;
              color: #ffffff;
              border-top: 3px solid #0c9bdd;
              border-bottom: 3px solid #0c9bdd;
            }
          
            nav ul ul li:hover>ul,
            nav ul li:hover>ul {
              display: none;
            }
        
            }
      @media all and (max-width : 640px) {
      
              #logo {
                width: 200px;
                height: auto;
                position: relative;
                top: 9px;
              }
            
              .toggle+a,
              .menu {
                display: none;
              }
            
              .toggle {
                display: block;
                padding: 0 20px;
                color: #FFF;
                font-size: 20px;
                line-height: 60px;
                text-decoration: none;
                border: none;
              }
            
            .toggle:hover {
                color: #0c9bdd;
              }
            
              #main-toggle {
                top: -73px;     /*Position X Bouton burger*/
              }
          
              [id^=drop]:checked+ul {
                display: block;
              }
            
              nav ul li {
                display: block;
                width: 100%;
                position: relative;
                top: -35px;   /*Posiition X menu burger*/
                left: 0;
              }
            
              nav ul ul {
                float: none;
                position: static;
                color: #ffffff;
                border-top: 3px solid #0c9bdd;
                border-bottom: 3px solid #0c9bdd;
              }
            
              nav ul ul li:hover>ul,
              nav ul li:hover>ul {
                display: none;
              }
          
              }
    
              @media all and (min-width : 1024px) {
                nav ul li {
                  left: 275px;                /* A MODIFIER TEST */
                }
              }
    
              @media all and (min-width : 1280px) {
                nav ul li {
                  left: 275px;                /* A MODIFIER TEST */
                }
              }
    
              @media all and (min-width : 1400px) {
                nav ul li {
                  left: 300px;                /* A MODIFIER TEST */
                }
              }
    
              @media all and (min-width : 1680px) {
                nav ul li {
                  left: 300px;                /* A MODIFIER TEST */
                }
              }
    
              @media all and (min-width : 1920px) {
                nav ul li {
                  left: 300px;                /* A MODIFIER TEST */
                }
              }
              @media all and (min-width : 2048px) {
                nav ul li {
                  left: 300px;                /* A MODIFIER TEST */
                }
              }
              @media all and (min-width : 2560px) {
                nav ul li {
                  left: 300px;                /* A MODIFIER TEST */
                }
              }
              @media all and (min-width : 3440px) {
                nav ul li {
                  left: 300px;                /* A MODIFIER TEST */
                }
              }
              @media all and (min-width : 3840px) {
                nav ul li {
                  left: 300px;                /* A MODIFIER TEST */
                }
              }
              @media all and (min-width : 4096px) {
                nav ul li {
                  left: 300px;                /* A MODIFIER TEST */
                }
              }
              @media all and (min-width : 7680px) {
                nav ul li {
                  left: 300px;                /* A MODIFIER TEST */
                }
              }

/* ------------------ S1 ------------------ */

.s1 {
  background-color: #080808;
  width: 100%;
  height: 300px;
  position: relative;
  margin: 0;
}
.s2 {
  background-color: #080808;
  width: 100%;
  height: 1255px;
  position: relative;
}

.swiper-container {
  width: 100%;
  height: 1000px;
  position: absolute !important; 
}
.swiper-slide img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  cursor: pointer;
}

.news h1 {
    color: #0c9bdd;
    position: absolute;
    left: 50%;
    top: 350px;
    transform: translateX(-50%);
}
/*Images*/
.news1 {
  width: 375px;
  height: auto;
  position: absolute;
  left: 25%;
  transform: translateX(-25%);
}

.news2 {
  width: 375px;
  height: auto;
  position: absolute;
  left: 75%;
  transform: translateX(-75%);
}

.news3 {
  width: 375px;
  height: auto;
  position: absolute;
  left: 25%;
  transform: translateX(-25%);
}

.news4 {
  width: 375px;
  height: auto;
  position: absolute;
  left: 75%;
  transform: translateX(-75%);
}
/* Fade + p*/
.fade1 {
  width: 376px;
  height: 211px;
  position: absolute;
  top: 550px;
  left: 25%;
  transform: translateX(-25%);
}
.fade1 p:nth-of-type(1){
  width: 250px;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 2px solid #ffffff;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.fade1 p:nth-of-type(2){
  font-size: 17px;
  margin: 0;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.fade1 p:nth-of-type(1):hover, .fade1 p:nth-of-type(2):hover{
  display: block;
  transition: ease-out .3s;
}
.fade2 {
  width: 376px;
  height: 211px;
  position: absolute;
  top: 550px;
  left: 75%;
  transform: translateX(-75%);
  transition: ease-out .3s;
}

.fade3 {
  width: 376px;
  height: 211px;
  position: absolute;
  top: 875px;
  left: 25%;
  transform: translateX(-25%);
  transition: ease-out .3s;
}

.fade4 {
  width: 376px;
  height: 211px;
  position: absolute;
  top: 875px;
  left: 75%;
  transform: translateX(-75%);
  transition: ease-out .3s;
}

.fade1:hover, .fade2:hover, .fade3:hover, .fade4:hover {
  background-color: #0c9bdd;
  transition: ease-out .3s;
  opacity: .7;
}

@media all and (min-width : 320px) {  
  .s2 {
    height: 1100px;
  }
/* POSIOTION SLIDER*/
  .swiper-container {
    top: 3px;
  }
  .swiper-container, .swiper-container-initialized, .swiper-container-horizontal, .swiper-wrapper, .swiper-slide , .swiper-slide-active {
    height: 300px;
  }
  .news h1 {
    font-size: 16px;
    width: 173px;
    top: -100px;
}
/*Images*/
.news1 {
  width: 80%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.news2 {
  width: 80%;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
}
.news3 {
  width: 80%;
  top: 500px;
  left: 50%;
  transform: translateX(-50%);
}
.news4 {
  width: 80%;
  top: 750px;
  left: 50%;
  transform: translateX(-50%);
}
.fade1, .fade2, .fade3, .fade4 {
  display: none;
}
}

@media all and (min-width : 500px) {  
  .s2 {
    height: 1500px;
  }
/* POSIOTION SLIDER*/
  .swiper-container {
    top: 3px;
  }
  .swiper-container, .swiper-container-initialized, .swiper-container-horizontal, .swiper-wrapper, .swiper-slide , .swiper-slide-active {
    height: 300px;
  }
  .news h1 {
    font-size: 18px;
    width: 194px;
    top: 0px;
}
/*Images*/
.news1 {
  width: 70%;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.news2 {
  width: 70%;
  top: 450px;
  left: 50%;
  transform: translateX(-50%);
}
.news3 {
  width: 70%;
  top: 800px;
  left: 50%;
  transform: translateX(-50%);
}
.news4 {
  width: 70%;
  top: 1150px;
  left: 50%;
  transform: translateX(-50%);
}
.fade1, .fade2, .fade3, .fade4 {
  display: none;
}
}

@media all and (min-width : 800px) {  
  .s2 {
    height: 1900px;
  }
/* POSIOTION SLIDER*/
  .swiper-container {
    top: 3px;
  }
  .swiper-container, .swiper-container-initialized, .swiper-container-horizontal, .swiper-wrapper, .swiper-slide , .swiper-slide-active {
    height: 300px;
  }
  .news h1 {
    font-size: 22px;
    width: 237px;
    top: 0px;
}
/*Images*/
.news1 {
  width: 60%;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.news2 {
  width: 60%;
  top: 550px;
  left: 50%;
  transform: translateX(-50%);
}
.news3 {
  width: 60%;
  top: 1000px;
  left: 50%;
  transform: translateX(-50%);
}
.news4 {
  width: 60%;
  top: 1450px;
  left: 50%;
  transform: translateX(-50%);
}
.fade1, .fade2, .fade3, .fade4 {
  display: none;
}
}

@media all and (min-width : 900px) {  
  .s1 {
    background-color: #080808;
    width: 100%;
    height: 300px;
    position: relative;
    margin: 0;
  }
  .s2 {
    background-color: #080808;
    width: 100%;
    height: 955px;
    position: relative;
  }
  .swiper-container {
    width: 100%;
    height: 1000px;
    position: absolute;
    top: 0;
  }
  .swiper-slide img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
  }
  .swiper-slide {
    position: absolute;
  }
  .swiper-container, .swiper-container-initialized, .swiper-container-horizontal, .swiper-wrapper, .swiper-slide , .swiper-slide-active {
    height: 500px;
  }
  .news h1 {
      color: #0c9bdd;
      position: absolute;
      left: 50%;
      top: 150px;
      transform: translateX(-50%);
  }
  /*Images*/
  .news1 {
    width: 30%;
    height: auto;
    position: absolute;
    top: 300px;
    left: 25%;
    transform: translateX(-25%);
  }
  
  .news2 {
    width: 30%;
    height: auto;
    position: absolute;
    top: 300px;
    left: 75%;
    transform: translateX(-75%);
  }
  
  .news3 {
    width: 30%;
    height: auto;
    position: absolute;
    top: 600px;
    left: 25%;
    transform: translateX(-25%);
  }
  
  .news4 {
    width: 30%;
    height: auto;
    position: absolute;
    top: 600px;
    left: 75%;
    transform: translateX(-75%);
  }
 .fade1, .fade2, .fade3, .fade4 {
   display: none;
 }
}

@media all and (min-width : 1300px) {  
  .s1 {
    background-color: #080808;
    width: 100%;
    height: 300px;
    position: relative;
    margin: 0;
  }
  .s2 {
    background-color: #080808;
    width: 100%;
    height: 1255px;
    position: relative;
  }
  
  .swiper-container {
    width: 100%;
    height: 1000px;
    position: absolute;
    top: 0;
  }
  .swiper-slide img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
  }
  .swiper-container, .swiper-container-initialized, .swiper-container-horizontal, .swiper-wrapper, .swiper-slide , .swiper-slide-active {
    height: 800px;
  }
  .news h1 {
      font-size: 32px;
      width: 345px;
      color: #0c9bdd;
      position: absolute;
      left: 50%;
      top: 350px;
      transform: translateX(-50%);
  }
  /*Images*/
  .news1 {
    width: 400px;
    height: auto;
    position: absolute;
    top: 550px;
    left: 25%;
    transform: translateX(-25%);
  }
  
  .news2 {
    width: 400px;
    height: auto;
    position: absolute;
    top: 550px;
    left: 75%;
    transform: translateX(-75%);
  }
  
  .news3 {
    width: 400px;
    height: auto;
    position: absolute;
    top: 875px;
    left: 25%;
    transform: translateX(-25%);
  }
  
  .news4 {
    width: 400px;
    height: auto;
    position: absolute;
    top: 875px;
    left: 75%;
    transform: translateX(-75%);
  }
  /* Fade + p*/
  .fade1 {
    width: 376px;
    height: 211px;
    position: absolute;
    top: 550px;
    left: 25%;
    transform: translateX(-25%);
  }
  .fade1 p:nth-of-type(1){
    width: 250px;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #ffffff;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
  }
  .fade1 p:nth-of-type(2){
    font-size: 17px;
    margin: 0;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
  }
  .fade1 p:nth-of-type(1):hover, .fade1 p:nth-of-type(2):hover{
    display: block;
    transition: ease-out .3s;
  }
  .fade2 {
    width: 376px;
    height: 211px;
    position: absolute;
    top: 550px;
    left: 75%;
    transform: translateX(-75%);
    transition: ease-out .3s;
  }
  
  .fade3 {
    width: 376px;
    height: 211px;
    position: absolute;
    top: 875px;
    left: 25%;
    transform: translateX(-25%);
    transition: ease-out .3s;
  }
  
  .fade4 {
    width: 376px;
    height: 211px;
    position: absolute;
    top: 875px;
    left: 75%;
    transform: translateX(-75%);
    transition: ease-out .3s;
  }
  
  .fade1:hover, .fade2:hover, .fade3:hover, .fade4:hover {
    background-color: #0c9bdd;
    transition: ease-out .3s;
    opacity: .7;
  }
}

@media all and (min-width : 1500px) {  
  .s1 {
    background-color: #080808;
    width: 100%;
    height: 300px;
    position: relative;
    margin: 0;
  }
  .s2 {
    background-color: #080808;
    width: 100%;
    height: 1255px;
    position: relative;
  }
  
  .swiper-container {
    width: 100%;
    height: 1000px;
    position: absolute;
    top: 0;
  }
  .swiper-slide img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
  }
  .swiper-container, .swiper-container-initialized, .swiper-container-horizontal, .swiper-wrapper, .swiper-slide , .swiper-slide-active {
    height: 800px;
  }
  .news h1 {
      font-size: 32px;
      width: 345px;
      color: #0c9bdd;
      position: absolute;
      left: 50%;
      top: 350px;
      transform: translateX(-50%);
  }
  /*Images*/
  .news1 {
    width: 450px;
    height: auto;
    position: absolute;
    top: 550px;
    left: 25%;
    transform: translateX(-25%);
  }
  
  .news2 {
    width: 450px;
    height: auto;
    position: absolute;
    top: 550px;
    left: 75%;
    transform: translateX(-75%);
  }
  
  .news3 {
    width: 450px;
    height: auto;
    position: absolute;
    top: 875px;
    left: 25%;
    transform: translateX(-25%);
  }
  
  .news4 {
    width: 450px;
    height: auto;
    position: absolute;
    top: 875px;
    left: 75%;
    transform: translateX(-75%);
  }
  /* Fade + p*/
  .fade1 {
    width: 376px;
    height: 211px;
    position: absolute;
    top: 550px;
    left: 25%;
    transform: translateX(-25%);
  }
  .fade1 p:nth-of-type(1){
    width: 250px;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #ffffff;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
  }
  .fade1 p:nth-of-type(2){
    font-size: 17px;
    margin: 0;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
  }
  .fade1 p:nth-of-type(1):hover, .fade1 p:nth-of-type(2):hover{
    display: block;
    transition: ease-out .3s;
  }
  .fade2 {
    width: 376px;
    height: 211px;
    position: absolute;
    top: 550px;
    left: 75%;
    transform: translateX(-75%);
    transition: ease-out .3s;
  }
  
  .fade3 {
    width: 376px;
    height: 211px;
    position: absolute;
    top: 875px;
    left: 25%;
    transform: translateX(-25%);
    transition: ease-out .3s;
  }
  
  .fade4 {
    width: 376px;
    height: 211px;
    position: absolute;
    top: 875px;
    left: 75%;
    transform: translateX(-75%);
    transition: ease-out .3s;
  }
  
  .fade1:hover, .fade2:hover, .fade3:hover, .fade4:hover {
    background-color: #0c9bdd;
    transition: ease-out .3s;
    opacity: .7;
  }
}

@media all and (min-width : 1900px) {  
  .s1 {
    background-color: #080808;
    width: 100%;
    height: 300px;
    position: relative;
    margin: 0;
  }
  .s2 {
    background-color: #080808;
    width: 100%;
    height: 1555px;
    position: relative;
  }
  
  .swiper-container {
    width: 100%;
    height: 1000px;
    position: absolute;
    top: 0;
  }
  .swiper-slide img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
  }
  .swiper-container, .swiper-container-initialized, .swiper-container-horizontal, .swiper-wrapper, .swiper-slide , .swiper-slide-active {
    height: 800px;
  }
  .news h1 {
      font-size: 40px;
      width: 431px;
      color: #0c9bdd;
      position: absolute;
      left: 50%;
      top: 500px;
      transform: translateX(-50%);
  }
  /*Images*/
  .news1 {
    width: 575px;
    height: auto;
    position: absolute;
    top: 700px;
    left: 25%;
    transform: translateX(-25%);
  }
  
  .news2 {
    width: 575px;
    height: auto;
    position: absolute;
    top: 700px;
    left: 75%;
    transform: translateX(-75%);
  }
  
  .news3 {
    width: 575px;
    height: auto;
    position: absolute;
    top: 1125px;
    left: 25%;
    transform: translateX(-25%);
  }
  
  .news4 {
    width: 575px;
    height: auto;
    position: absolute;
    top: 1125px;
    left: 75%;
    transform: translateX(-75%);
  }
  /* Fade + p*/
  .fade1 {
    width: 376px;
    height: 211px;
    position: absolute;
    top: 550px;
    left: 25%;
    transform: translateX(-25%);
  }
  .fade1 p:nth-of-type(1){
    width: 250px;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #ffffff;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
  }
  .fade1 p:nth-of-type(2){
    font-size: 17px;
    margin: 0;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
  }
  .fade1 p:nth-of-type(1):hover, .fade1 p:nth-of-type(2):hover{
    display: block;
    transition: ease-out .3s;
  }
  .fade2 {
    width: 376px;
    height: 211px;
    position: absolute;
    top: 550px;
    left: 75%;
    transform: translateX(-75%);
    transition: ease-out .3s;
  }
  
  .fade3 {
    width: 376px;
    height: 211px;
    position: absolute;
    top: 875px;
    left: 25%;
    transform: translateX(-25%);
    transition: ease-out .3s;
  }
  
  .fade4 {
    width: 376px;
    height: 211px;
    position: absolute;
    top: 875px;
    left: 75%;
    transform: translateX(-75%);
    transition: ease-out .3s;
  }
  
  .fade1:hover, .fade2:hover, .fade3:hover, .fade4:hover {
    background-color: #0c9bdd;
    transition: ease-out .3s;
    opacity: .7;
  }
}
/* ------------------ Footer ------------------ */

footer {
  background-color: #000000;
  border-top: 3px solid #0c9bdd;
  position: relative;
  width: 100%;
  height: 300px;
}

#logo-footer {
  width: 240px;
  height: auto;
  position: relative;
  left: 50px;
  top: 25px;
}

footer p {
  color: #878888;
  font-size: 17px;
  font-weight: normal;
  text-transform: uppercase;
  position: absolute;
  top: 150px;
  left: 2%;
}

footer h1 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.webtv h1 {
  position: absolute;
  top: 20px;
  left: 400px;
}

.webtv .fh {
  position: absolute;
  top: 60px;
  left: 400px;
  font-size: 17px;
}

.webtv .fwtv {
  position: absolute;
  top: 90px;
  left: 400px;
  font-size: 17px;
}

.teams h1 {
  position: absolute;
  top: 20px;
  left: 570px;
  font-size: 17px;
}

.teams .ff {
  position: absolute;
  top: 60px;
  left: 570px;
  font-size: 17px;
}

.teams .fl {
  position: absolute;
  top: 90px;
  left: 570px;
  font-size: 17px;
}

.club h1 {
  position: absolute;
  top: 20px;
  left: 800px;
}

.club .fn {
  position: absolute;
  top: 60px;
  left: 800px;
  font-size: 17px;
}

.club .fsh {
  position: absolute;
  top: 90px;
  left: 800px;
  font-size: 17px;
}

.club .fst {
  position: absolute;
  top: 120px;
  left: 800px;
  font-size: 17px;
}

.club .fap {
  position: absolute;
  top: 150px;
  left: 800px;
  font-size: 17px;
}

.club .frec {
  position: absolute;
  top: 180px;
  left: 800px;
  font-size: 17px;
}

.socials h1 {
  position: absolute;
  top: 20px;
  left: 1000px;
}

.socials .ft {
  position: absolute;
  top: 60px;
  left: 1000px;
  font-size: 17px;
}

.socials .fd {
  position: absolute;
  top: 90px;
  left: 1000px;
  font-size: 17px;
}

.socials .fy {
  position: absolute;
  top: 120px;
  left: 1000px;
  font-size: 17px;
}

.socials .flive {
  position: absolute;
  top: 150px;
  left: 1000px;
  font-size: 17px;
}

.socials .fi {
  position: absolute;
  top: 180px;
  left: 1000px;
  font-size: 17px;
}


footer a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  color: #878888;
}

footer a:hover {
  text-decoration: none;
  color: #0c9bdd;
}

.credits a {
  font-size: 12px;
  color: #fff;
  position: absolute;
  top: 250px;
  left: 2%;
}

.credits a:hover {
  color: #fff;
}

.credits i {
  margin-left: 2px;
  margin-right: 2px;
}

/* ------------------ Footer - Responsive ------------------ */

@media all and (max-width : 1280px) {

  #logo-footer {
    position: absolute;
    left: 50px;
  }
}

@media all and (max-width : 1225px) {

  footer {
    height: 900px;
    z-index: 20;
  }

  #logo-footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .webtv {
    position: relative;
  }

  .webtv h1 {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
  }

  .webtv .fh {
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
  }

  .webtv .fwtv {
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
  }

  .teams {
    position: relative;
  }

  .teams h1 {
    position: absolute;
    top: 210px;
    left: 50%;
    transform: translateX(-50%);
  }

  .teams .ff {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
  }

  .teams .fl {
    position: absolute;
    top: 280px;
    left: 50%;
    transform: translateX(-50%);
  }

  .club {
    position: relative;
  }

  .club h1 {
    top: 320px;
    left: 50%;
    transform: translateX(-50%);
  }

  .club .fn {
    top: 360px;
    left: 50%;
    transform: translateX(-50%);
  }

  .club .fsh {
    top: 390px;
    left: 50%;
    transform: translateX(-50%);
  }

  .club .fst {
    top: 420px;
    left: 50%;
    transform: translateX(-50%);
  }

  .club .fap {
    top: 450px;
    left: 50%;
    transform: translateX(-50%);
  }

  .club .frec {
    top: 480px;
    left: 50%;
    transform: translateX(-50%);
  }

  .socials {
    position: relative;
  }

  .socials h1 {
    top: 520px;
    left: 50%;
    transform: translateX(-50%);
  }

  .socials .ft {
    top: 560px;
    left: 50%;
    transform: translateX(-50%);
  }

  .socials .fd {
    top: 590px;
    left: 50%;
    transform: translateX(-50%);
  }

  .socials .fy {
    top: 620px;
    left: 50%;
    transform: translateX(-50%);
  }

  .socials .flive {
    top: 650px;
    left: 50%;
    transform: translateX(-50%);
  }

  .socials .fi {
    top: 680px;
    left: 50%;
    transform: translateX(-50%);
  }

  footer p {
    top: 750px;
    left: 50%;
    transform: translateX(-50%);
  }

  .credits a {
    top: 845px;
    left: 50%;
    transform: translateX(-50%);
  }

}

@media all and (max-width : 550px) {
  footer {
    height: 1000px;
  }
  footer p {
    width: 210px;
    left: 55%;
  }
  .credits a {
    top: 910px;
  }
}