* {
    box-sizing: border-box;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  
  body {
    background:#fff;
    font-size: 22px;
    line-height: 32px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    word-wrap: break-word !important;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
  }
  
    
    /* ------------------ Header ------------------ */
    
    a {
      color: #FFF;
    }
      
    p {
      text-align: center;
    }
      
    .toggle, [id^=drop] {
        display: none;
    }
      
    nav {
      margin: 0;
      padding: 0;
      background-color: #000000;
      border-bottom: 3px solid #0c9bdd;
      height: 100px;
    }
      
    #logo {
      width: 240px;
      height: auto;
      position: relative;
      left: 20px;
    }
      
    #logoa {
      width: 240px;
      height: auto;
      padding: 0;
    }
      
    #logo-footer {
      width: 240px;
      height: auto;
      position: relative;
      left: 50px;
    }
      
      
    #main-toggle {
      cursor: pointer;
      float: right;
      padding: 28px 20px;
      position: relative;
      top: -91px;
      user-select: none;
    }
      
    .nav-icon {
      background: #fff;
      display: block;
      height: 2px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 35px;  /* Largeur bouton burger*/
    }
      
    .nav-icon:before, .nav-icon:after {
      background: #fff;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
    }
      
      .nav-icon:before {
        top: 15px;    /* Hauteur bouton burger*/
      }
      
      .nav-icon:after {
        top: -15px;   /* Hauteur bouton burger*/
      }
      
      nav:after {
        content: "";
        display: table;
        clear: both;
      }
      
      nav ul {
        float: right;
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
        top: -15px;
        z-index: 999;
        width: 100%;  
      }
      
      nav ul li {
        margin: 0px;
        display: inline-block;
        float: left;
        background-color: #000000;
        position: relative;
        top: -72px;                 /* A MODIFIER TEST */
        left: -320px;                /* A MODIFIER TEST */
      }
      
      nav a {
        display: block;
        padding: 0 20px;
        color: #FFF;
        font-size: 17px;
        font-weight: bold;
        line-height: 60px;
        text-decoration: none;
      }
      
      
      nav a:hover {
        color: #0c9bdd;
      }
      
      nav ul ul {
        display: none;
        position: absolute;
        top: 60px;
      }
      
      nav ul li:hover>ul {
        display: inherit;
      }
      
      nav ul ul li {
        width: 220px;   /* A MODIFIER TEST */
        float: none;
        display: list-item;
        position: relative;
        top: 0;  /* A MODIFIER TEST */
        left: 0;  /* A MODIFIER TEST */
      }
      
      nav ul ul ul li {
        position: relative;
        top: -60px;
        left: 170px;
      }
      
      li>a:only-child:after {
        content: '';
      }
      
      .fas, .fa-caret-down {
        font-size: 14px;
        padding-left: 3px;
      }
      
      /* ------------------ Header Responsive ------------------ */
      
      @media all and (max-width : 320px) {
      
        #logo {
          width: 170px;
          height: auto;
          position: relative;
          top: 12px;
        }
      
        .toggle+a,
        .menu {
          display: none;
        }
      
        .toggle {
          display: block;
          padding: 0 20px;
          color: #FFF;
          font-size: 20px;
          line-height: 60px;
          text-decoration: none;
          border: none;
        }
      
      .toggle:hover {
          color: #0c9bdd;
        }
      
        #main-toggle {
          top: -64px;     /*Position X Bouton burger*/
        }
    
        [id^=drop]:checked+ul {
          display: block;
        }
      
        nav ul li {
          display: block;
          width: 100%;
          position: relative;
          top: -24px;   /*Posiition X menu burger*/
          left: 0;
        }
      
        nav ul ul {
          float: none;
          position: static;
          color: #ffffff;
          border-top: 3px solid #0c9bdd;
          border-bottom: 3px solid #0c9bdd;
        }
      
        nav ul ul li:hover>ul,
        nav ul li:hover>ul {
          display: none;
        }
    
        }
    
        @media all and (max-width : 640px) {
      
          #logo {
            width: 200px;
            height: auto;
            position: relative;
            top: 9px;
          }
        
          .toggle+a,
          .menu {
            display: none;
          }
        
          .toggle {
            display: block;
            padding: 0 20px;
            color: #FFF;
            font-size: 20px;
            line-height: 60px;
            text-decoration: none;
            border: none;
          }
        
        .toggle:hover {
            color: #0c9bdd;
          }
        
          #main-toggle {
            top: -73px;     /*Position X Bouton burger*/
          }
      
          [id^=drop]:checked+ul {
            display: block;
          }
        
          nav ul li {
            display: block;
            width: 100%;
            position: relative;
            top: -35px;   /*Posiition X menu burger*/
            left: 0;
          }
        
          nav ul ul {
            float: none;
            position: static;
            color: #ffffff;
            border-top: 3px solid #0c9bdd;
            border-bottom: 3px solid #0c9bdd;
          }
        
          nav ul ul li:hover>ul,
          nav ul li:hover>ul {
            display: none;
          }
      
          }
    
          @media all and (max-width : 1024px) {
      
            #logo {
              width: 200px;
              height: auto;
              position: relative;
              top: 9px;
            }
          
            .toggle+a,
            .menu {
              display: none;
            }
          
            .toggle {
              display: block;
              padding: 0 20px;
              color: #FFF;
              font-size: 20px;
              line-height: 60px;
              text-decoration: none;
              border: none;
            }
          
          .toggle:hover {
              color: #0c9bdd;
            }
          
            #main-toggle {
              top: -73px;     /*Position X Bouton burger*/
            }
        
            [id^=drop]:checked+ul {
              display: block;
            }
          
            nav ul li {
              display: block;
              width: 100%;
              position: relative;
              top: -35px;   /*Posiition X menu burger*/
              left: 0;
            }
          
            nav ul ul {
              float: none;
              position: static;
              color: #ffffff;
              border-top: 3px solid #0c9bdd;
              border-bottom: 3px solid #0c9bdd;
            }
          
            nav ul ul li:hover>ul,
            nav ul li:hover>ul {
              display: none;
            }
        
            }
      @media all and (max-width : 640px) {
      
              #logo {
                width: 200px;
                height: auto;
                position: relative;
                top: 9px;
              }
            
              .toggle+a,
              .menu {
                display: none;
              }
            
              .toggle {
                display: block;
                padding: 0 20px;
                color: #FFF;
                font-size: 20px;
                line-height: 60px;
                text-decoration: none;
                border: none;
              }
            
            .toggle:hover {
                color: #0c9bdd;
              }
            
              #main-toggle {
                top: -73px;     /*Position X Bouton burger*/
              }
          
              [id^=drop]:checked+ul {
                display: block;
              }
            
              nav ul li {
                display: block;
                width: 100%;
                position: relative;
                top: -35px;   /*Posiition X menu burger*/
                left: 0;
              }
            
              nav ul ul {
                float: none;
                position: static;
                color: #ffffff;
                border-top: 3px solid #0c9bdd;
                border-bottom: 3px solid #0c9bdd;
              }
            
              nav ul ul li:hover>ul,
              nav ul li:hover>ul {
                display: none;
              }
          
              }
    
              @media all and (min-width : 1024px) {
                nav ul li {
                  left: 275px;                /* A MODIFIER TEST */
                }
              }
    
              @media all and (min-width : 1280px) {
                nav ul li {
                  left: 275px;                /* A MODIFIER TEST */
                }
              }
    
              @media all and (min-width : 1400px) {
                nav ul li {
                  left: 300px;                /* A MODIFIER TEST */
                }
              }
    
              @media all and (min-width : 1680px) {
                nav ul li {
                  left: 300px;                /* A MODIFIER TEST */
                }
              }
    
              @media all and (min-width : 1920px) {
                nav ul li {
                  left: 300px;                /* A MODIFIER TEST */
                }
              }
              @media all and (min-width : 2048px) {
                nav ul li {
                  left: 300px;                /* A MODIFIER TEST */
                }
              }
              @media all and (min-width : 2560px) {
                nav ul li {
                  left: 300px;                /* A MODIFIER TEST */
                }
              }
              @media all and (min-width : 3440px) {
                nav ul li {
                  left: 300px;                /* A MODIFIER TEST */
                }
              }
              @media all and (min-width : 3840px) {
                nav ul li {
                  left: 300px;                /* A MODIFIER TEST */
                }
              }
              @media all and (min-width : 4096px) {
                nav ul li {
                  left: 300px;                /* A MODIFIER TEST */
                }
              }
              @media all and (min-width : 7680px) {
                nav ul li {
                  left: 300px;                /* A MODIFIER TEST */
                }
              }

/* ------------------ S1 ------------------ */
.s1 {
    background-color: #080808;
    width: 100%;
    height: 2975px;
    border-bottom: #0c9bdd solid 1px;
    position: relative;
}

.s1 h1:nth-child(1) {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #0c9bdd;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.s1 h1:nth-child(2) {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #0c9bdd;
  position: absolute;
  top: 850px;
  left: 50%;
  transform: translateX(-50%);
}

.card1 {
    position: absolute;
    top: 375px;      /* Positionnement Y de la carte */
    left: 25%;    /* Positionnement X de la carte */
    transform: translate(-50%, -50%);   /* Positionnement de la carte */
    width: 360px;     /* Largeur de la carte */
    height: 480px;        /* Longueur de la carte */
    background-color: #080808 ;
}

.card1 .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.card1 .image img {
  width: 100%;
  transition: .5s;
}

.card1:hover .image img {
  opacity: .4;
  transform: translateX(30%);
}

.card1 .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111111;
    border-top: solid 2px #00c4ee;
    border-bottom: solid 2px #00c4ee;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}

.card1:hover .details {
    transform: perspective(2000px) rotateY(0deg);
}
.card1 .details .center h1 {
    margin: 0;
    padding: 0;
    width: 192px;  /* à modifier pour centrer texte à chaque fois*/
    color: #fff;
    line-height: 20px;
    font-size: 22px;
    text-transform: uppercase;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
}

.card1 .details .center h1 .pseudo {
    position: absolute;
    font-size: 22px;
    color: #00c4ee;
    transform: translateX(-50%);
}

.card1 .details .center h1 .role {
    font-size: 10px;
    width: 152px; /* à modifier pour centrer texte à chaque fois*/
    color: rgb(165, 165, 165);
    position: absolute;
    left: calc(50%);
    transform: translateX(-50%);
}

.card1 .flag {
    width: 45px;
    height: 37px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
}

.card1 .age {
    font-size: 12px;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translateX(-50%);
}

.card1 .details .center .s1-socials {
    margin: 10px auto 0;
    padding: 0;
    display: table;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 85%;
}

.card1 .details .center .s1-socials li {
    list-style: none;
    margin: 0 5px;
    float: left;
}

.card1 .details .center .s1-socials li a {
    display: block;
    color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    transition: .5s;
}

.card1 .details .center .s1-socials li a:hover {
    color: #0b9bee;
}

.card2 {
  position: absolute;
  top: 375px;      /* Positionnement Y de la carte */
  left: 75%;    /* Positionnement X de la carte */
  transform: translate(-50%, -50%);   /* Positionnement de la carte */
  width: 360px;     /* Largeur de la carte */
  height: 480px;        /* Longueur de la carte */
  background-color: #080808 ;
}

.card2 .image {
width: 100%;
height: 100%;
overflow: hidden;
position: absolute;
}

.card2 .image img {
width: 100%;
transition: .5s;
}

.card2:hover .image img {
opacity: .4;
transform: translateX(30%);
}

.card2 .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111111;
  border-top: solid 2px #00c4ee;
  border-bottom: solid 2px #00c4ee;
  transition: .5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}

.card2:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}
.card2 .details .center h1 {
  margin: 0;
  padding: 0;
  width: 151px;  /* à modifier pour centrer texte à chaque fois*/
  color: #fff;
  line-height: 20px;
  font-size: 22px;
  text-transform: uppercase;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%);
}

.card2 .details .center h1 .pseudo {
  position: absolute;
  font-size: 22px;
  color: #00c4ee;
  transform: translateX(-50%);
}

.card2 .details .center h1 .role {
  font-size: 10px;
  width: 138px; /* à modifier pour centrer texte à chaque fois*/
  color: rgb(165, 165, 165);
  position: absolute;
  left: calc(50%);
  transform: translateX(-50%);
}

.card2 .flag {
  width: 45px;
  height: 37px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
}

.card2 .age {
  font-size: 12px;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translateX(-50%);
}

.card2 .details .center .s1-socials {
  margin: 10px auto 0;
  padding: 0;
  display: table;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 85%;
}

.card2 .details .center .s1-socials li {
  list-style: none;
  margin: 0 5px;
  float: left;
}

.card2 .details .center .s1-socials li a {
  display: block;
  color: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  transition: .5s;
}

.card2 .details .center .s1-socials li a:hover {
  color: #0b9bee;
}

.card3 {
  position: absolute;
  top: 1200px;      /* Positionnement Y de la carte */
  left: 25%;    /* Positionnement X de la carte */
  transform: translate(-50%, -50%);   /* Positionnement de la carte */
  width: 360px;     /* Largeur de la carte */
  height: 480px;        /* Longueur de la carte */
  background-color: #080808;
}

.card3 .image {
width: 100%;
height: 100%;
overflow: hidden;
position: absolute;
}

.card3 .image img {
  width: 100%;
  transition: .5s;
}

.card3:hover .image img {
  opacity: .4;
  transform: translateX(30%);
}

.card3 .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111111;
  border-top: solid 2px #00c4ee;
  border-bottom: solid 2px #00c4ee;
  transition: .5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}

.card3:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}
.card3 .details .center h1 {
  margin: 0;
  padding: 0;
  width: 130px;  /* à modifier pour centrer texte à chaque fois*/
  color: #fff;
  line-height: 20px;
  font-size: 22px;
  text-transform: uppercase;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.card3 .details .center h1 .pseudo {
  position: absolute;
  font-size: 22px;
  color: #00c4ee;
  transform: translateX(-50%);
}

.card3 .details .center h1 .role {
  font-size: 10px;
  width: 141px; /* à modifier pour centrer texte à chaque fois*/
  color: rgb(165, 165, 165);
  position: absolute;
  left: calc(50%);
  transform: translateX(-50%);
}

.card3 .flag {
  width: 45px;
  height: 37px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.card3 .age {
  font-size: 12px;
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translateX(-50%);  
}

.card3 .setup {
  margin: 0;
  padding: 0;
  font-size: 16px;
  list-style: none;
  position: absolute;
  top: 35%;
  left: 22%;
}
.card3 .setup img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
.card3 .setup a {
  color: #fff;
  text-decoration: none;
}
.card3 .setup a:hover {
  transition: ease-in .2s;
  color: #0b9bee;

}

.card3 .details .center .s1-socials {
  margin: 10px auto 0;
  padding: 0;
  display: table;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 85%;
}

.card3 .details .center .s1-socials li {
  list-style: none;
  margin: 0 5px;
  float: left;
}

.card3 .details .center .s1-socials li a {
  display: block;
  color: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  transition: .5s;
}

.card3 .details .center .s1-socials li a:hover {
  color: #0b9bee;
}

.card4 {
  position: absolute;
  top: 1200px;      /* Positionnement Y de la carte */
  left: 75%;    /* Positionnement X de la carte */
  transform: translate(-50%, -50%);   /* Positionnement de la carte */
  width: 360px;     /* Largeur de la carte */
  height: 480px;        /* Longueur de la carte */
  background-color: #080808;
}

.card4 .image {
width: 100%;
height: 100%;
overflow: hidden;
position: absolute;
}

.card4 .image img {
  width: 100%;
  transition: .5s;
}

.card4:hover .image img {
  opacity: .4;
  transform: translateX(30%);
}

.card4 .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111111;
  border-top: solid 2px #00c4ee;
  border-bottom: solid 2px #00c4ee;
  transition: .5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}

.card4:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}
.card4 .details .center h1 {
  margin: 0;
  padding: 0;
  width: 247px;  /* à modifier pour centrer texte à chaque fois*/
  color: #fff;
  line-height: 20px;
  font-size: 22px;
  text-transform: uppercase;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.card4 .details .center h1 .pseudo {
  position: absolute;
  font-size: 22px;
  color: #00c4ee;
  transform: translateX(-50%);
}

.card4 .details .center h1 .role {
  font-size: 10px;
  width: 141px; /* à modifier pour centrer texte à chaque fois*/
  color: rgb(165, 165, 165);
  position: absolute;
  left: calc(50%);
  transform: translateX(-50%);
}

.card4 .flag {
  width: 45px;
  height: 37px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.card4 .age {
  font-size: 12px;
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translateX(-50%);  
}

.card4 .setup {
  margin: 0;
  padding: 0;
  font-size: 16px;
  list-style: none;
  position: absolute;
  top: 35%;
  left: 22%;
}
.card4 .setup img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
.card4 .setup a {
  color: #fff;
  text-decoration: none;
}
.card4 .setup a:hover {
  transition: ease-in .2s;
  color: #0b9bee;

}

.card4 .details .center .s1-socials {
  margin: 10px auto 0;
  padding: 0;
  display: table;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 85%;
}

.card4 .details .center .s1-socials li {
  list-style: none;
  margin: 0 5px;
  float: left;
}

.card4 .details .center .s1-socials li a {
  display: block;
  color: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  transition: .5s;
}

.card4 .details .center .s1-socials li a:hover {
  color: #0b9bee;
}

.card5 {
  position: absolute;
  top: 1850px;      /* Positionnement Y de la carte */
  left: 25%;    /* Positionnement X de la carte */
  transform: translate(-50%, -50%);   /* Positionnement de la carte */
  width: 360px;     /* Largeur de la carte */
  height: 480px;        /* Longueur de la carte */
  background-color: #080808;
}

.card5 .image {
width: 100%;
height: 100%;
overflow: hidden;
position: absolute;
}

.card5 .image img {
  width: 100%;
  transition: .5s;
}

.card5:hover .image img {
  opacity: .4;
  transform: translateX(30%);
}

.card5 .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111111;
  border-top: solid 2px #00c4ee;
  border-bottom: solid 2px #00c4ee;
  transition: .5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}

.card5:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}
.card5 .details .center h1 {
  margin: 0;
  padding: 0;
  width: 170px;  /* à modifier pour centrer texte à chaque fois*/
  color: #fff;
  line-height: 20px;
  font-size: 22px;
  text-transform: uppercase;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.card5 .details .center h1 .pseudo {
  position: absolute;
  font-size: 22px;
  color: #00c4ee;
  transform: translateX(-50%);
}

.card5 .details .center h1 .role {
  font-size: 10px;
  width: 141px; /* à modifier pour centrer texte à chaque fois*/
  color: rgb(165, 165, 165);
  position: absolute;
  left: calc(50%);
  transform: translateX(-50%);
}

.card5 .flag {
  width: 45px;
  height: 37px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.card5 .age {
  font-size: 12px;
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translateX(-50%);  
}

.card5 .setup {
  margin: 0;
  padding: 0;
  font-size: 16px;
  list-style: none;
  position: absolute;
  top: 35%;
  left: 22%;
}
.card5 .setup img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
.card5 .setup a {
  color: #fff;
  text-decoration: none;
}
.card5 .setup a:hover {
  transition: ease-in .2s;
  color: #0b9bee;

}

.card5 .details .center .s1-socials {
  margin: 10px auto 0;
  padding: 0;
  display: table;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 85%;
}

.card5 .details .center .s1-socials li {
  list-style: none;
  margin: 0 5px;
  float: left;
}

.card5 .details .center .s1-socials li a {
  display: block;
  color: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  transition: .5s;
}

.card5 .details .center .s1-socials li a:hover {
  color: #0b9bee;
}

.card6 {
  position: absolute;
  top: 1850px;      /* Positionnement Y de la carte */
  left: 75%;    /* Positionnement X de la carte */
  transform: translate(-50%, -50%);   /* Positionnement de la carte */
  width: 360px;     /* Largeur de la carte */
  height: 480px;        /* Longueur de la carte */
  background-color: #080808;
}

.card6 .image {
width: 100%;
height: 100%;
overflow: hidden;
position: absolute;
}

.card6 .image img {
  width: 100%;
  transition: .5s;
}

.card6:hover .image img {
  opacity: .4;
  transform: translateX(30%);
}

.card6 .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111111;
  border-top: solid 2px #00c4ee;
  border-bottom: solid 2px #00c4ee;
  transition: .5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}

.card6:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}
.card6 .details .center h1 {
  margin: 0;
  padding: 0;
  width: 245px;  /* à modifier pour centrer texte à chaque fois*/
  color: #fff;
  line-height: 20px;
  font-size: 22px;
  text-transform: uppercase;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.card6 .details .center h1 .pseudo {
  position: absolute;
  font-size: 22px;
  color: #00c4ee;
  transform: translateX(-50%);
}

.card6 .details .center h1 .role {
  font-size: 10px;
  width: 141px; /* à modifier pour centrer texte à chaque fois*/
  color: rgb(165, 165, 165);
  position: absolute;
  left: calc(50%);
  transform: translateX(-50%);
}

.card6 .flag {
  width: 45px;
  height: 37px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.card6 .age {
  font-size: 12px;
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translateX(-50%);  
}

.card6 .setup {
  margin: 0;
  padding: 0;
  font-size: 16px;
  list-style: none;
  position: absolute;
  top: 35%;
  left: 22%;
}
.card6 .setup img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
.card6 .setup a {
  color: #fff;
  text-decoration: none;
}
.card6 .setup a:hover {
  transition: ease-in .2s;
  color: #0b9bee;

}

.card6 .details .center .s1-socials {
  margin: 10px auto 0;
  padding: 0;
  display: table;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 85%;
}

.card6 .details .center .s1-socials li {
  list-style: none;
  margin: 0 5px;
  float: left;
}

.card6 .details .center .s1-socials li a {
  display: block;
  color: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  transition: .5s;
}

.card6 .details .center .s1-socials li a:hover {
  color: #0b9bee;
}

.card7 {
  position: absolute;
  top: 2500px;      /* Positionnement Y de la carte */
  left: 25%;    /* Positionnement X de la carte */
  transform: translate(-50%, -50%);   /* Positionnement de la carte */
  width: 360px;     /* Largeur de la carte */
  height: 480px;        /* Longueur de la carte */
  background-color: #080808;
}

.card7 .image {
width: 100%;
height: 100%;
overflow: hidden;
position: absolute;
}

.card7 .image img {
  width: 100%;
  transition: .5s;
}

.card7:hover .image img {
  opacity: .4;
  transform: translateX(30%);
}

.card7 .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111111;
  border-top: solid 2px #00c4ee;
  border-bottom: solid 2px #00c4ee;
  transition: .5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}

.card7:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}
.card7 .details .center h1 {
  margin: 0;
  padding: 0;
  width: 178px;  /* à modifier pour centrer texte à chaque fois*/
  color: #fff;
  line-height: 20px;
  font-size: 22px;
  text-transform: uppercase;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.card7 .details .center h1 .pseudo {
  position: absolute;
  font-size: 22px;
  color: #00c4ee;
  transform: translateX(-50%);
}

.card7 .details .center h1 .role {
  font-size: 10px;
  width: 141px; /* à modifier pour centrer texte à chaque fois*/
  color: rgb(165, 165, 165);
  position: absolute;
  left: calc(50%);
  transform: translateX(-50%);
}

.card7 .flag {
  width: 45px;
  height: 37px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.card7 .age {
  font-size: 12px;
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translateX(-50%);  
}

.card7 .setup {
  margin: 0;
  padding: 0;
  font-size: 16px;
  list-style: none;
  position: absolute;
  top: 35%;
  left: 22%;
}
.card7 .setup img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
.card7 .setup a {
  color: #fff;
  text-decoration: none;
}
.card7 .setup a:hover {
  transition: ease-in .2s;
  color: #0b9bee;

}

@media all and (max-width : 900px) {
  .s1 {
    height: 4850px;
}
.s1 h1:nth-child(1) {
  font-size: 20px;
  width: 186px;
}
.s1 h1:nth-child(2) {
  font-size: 20px;
  width: 90px;
  top: 1825px;
}
.card1 {
  top: 375px;      /* Positionnement Y de la carte */
  left: 50%;    /* Positionnement X de la carte */
  transform: translate(-50%, -50%);   /* Positionnement de la carte */
  width: 320px;     /* Largeur de la carte */
  height: 480px;        /* Longueur de la carte */
}
.card2 {
  top: 950px;      /* Positionnement Y de la carte */
  left: 50%;    /* Positionnement X de la carte */
  transform: translate(-50%, -50%);   /* Positionnement de la carte */
  width: 320px;     /* Largeur de la carte */
  height: 480px;        /* Longueur de la carte */
}
.card3 {
  top: 2200px;      /* Positionnement Y de la carte */
  left: 50%;    /* Positionnement X de la carte */
  transform: translate(-50%, -50%);   /* Positionnement de la carte */
  width: 320px;     /* Largeur de la carte */
  height: 480px;        /* Longueur de la carte */
}
.card4 {
  top: 2775px;      /* Positionnement Y de la carte */
  left: 50%;    /* Positionnement X de la carte */
  transform: translate(-50%, -50%);   /* Positionnement de la carte */
  width: 320px;     /* Largeur de la carte */
  height: 480px;        /* Longueur de la carte */
}
.card5 {
  top: 3350px;      /* Positionnement Y de la carte */
  left: 50%;    /* Positionnement X de la carte */
  transform: translate(-50%, -50%);   /* Positionnement de la carte */
  width: 320px;     /* Largeur de la carte */
  height: 480px;        /* Longueur de la carte */
}
.card6 {
  top: 3925px;      /* Positionnement Y de la carte */
  left: 50%;    /* Positionnement X de la carte */
  transform: translate(-50%, -50%);   /* Positionnement de la carte */
  width: 320px;     /* Largeur de la carte */
  height: 480px;        /* Longueur de la carte */
}
.card7 {
  top: 4500px;      /* Positionnement Y de la carte */
  left: 50%;    /* Positionnement X de la carte */
  transform: translate(-50%, -50%);   /* Positionnement de la carte */
  width: 320px;     /* Largeur de la carte */
  height: 480px;        /* Longueur de la carte */
}
}

/* ------------------ Footer ------------------ */

footer {
  background-color: #000000;
  border-top: 3px solid #0c9bdd;
  position: relative;
  width: 100%;
  height: 300px;
}

#logo-footer {
  width: 240px;
  height: auto;
  position: relative;
  left: 50px;
  top: 25px;
}

footer p {
  color: #878888;
  font-size: 17px;
  font-weight: normal;
  text-transform: uppercase;
  position: absolute;
  top: 150px;
  left: 2%;
}

footer h1 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.webtv h1 {
  position: absolute;
  top: 20px;
  left: 400px;
}

.webtv .fh {
  position: absolute;
  top: 60px;
  left: 400px;
  font-size: 17px;
}

.webtv .fwtv {
  position: absolute;
  top: 90px;
  left: 400px;
  font-size: 17px;
}

.teams h1 {
  position: absolute;
  top: 20px;
  left: 570px;
  font-size: 17px;
}

.teams .ff {
  position: absolute;
  top: 60px;
  left: 570px;
  font-size: 17px;
}

.teams .fl {
  position: absolute;
  top: 90px;
  left: 570px;
  font-size: 17px;
}

.club h1 {
  position: absolute;
  top: 20px;
  left: 800px;
}

.club .fn {
  position: absolute;
  top: 60px;
  left: 800px;
  font-size: 17px;
}

.club .fsh {
  position: absolute;
  top: 90px;
  left: 800px;
  font-size: 17px;
}

.club .fst {
  position: absolute;
  top: 120px;
  left: 800px;
  font-size: 17px;
}

.club .fap {
  position: absolute;
  top: 150px;
  left: 800px;
  font-size: 17px;
}

.club .frec {
  position: absolute;
  top: 180px;
  left: 800px;
  font-size: 17px;
}

.socials h1 {
  position: absolute;
  top: 20px;
  left: 1000px;
}

.socials .ft {
  position: absolute;
  top: 60px;
  left: 1000px;
  font-size: 17px;
}

.socials .fd {
  position: absolute;
  top: 90px;
  left: 1000px;
  font-size: 17px;
}

.socials .fy {
  position: absolute;
  top: 120px;
  left: 1000px;
  font-size: 17px;
}

.socials .flive {
  position: absolute;
  top: 150px;
  left: 1000px;
  font-size: 17px;
}

.socials .fi {
  position: absolute;
  top: 180px;
  left: 1000px;
  font-size: 17px;
}


footer a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  color: #878888;
}

footer a:hover {
  text-decoration: none;
  color: #0c9bdd;
}

.credits a {
  font-size: 12px;
  color: #fff;
  position: absolute;
  top: 250px;
  left: 2%;
}

.credits a:hover {
  color: #fff;
}

.credits i {
  margin-left: 2px;
  margin-right: 2px;
}

/* ------------------ Footer - Responsive ------------------ */

@media all and (max-width : 1280px) {

  #logo-footer {
    position: absolute;
    left: 50px;
  }
}

@media all and (max-width : 1225px) {

  footer {
    height: 900px;
    z-index: 20;
  }

  #logo-footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .webtv {
    position: relative;
  }

  .webtv h1 {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
  }

  .webtv .fh {
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
  }

  .webtv .fwtv {
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
  }

  .teams {
    position: relative;
  }

  .teams h1 {
    position: absolute;
    top: 210px;
    left: 50%;
    transform: translateX(-50%);
  }

  .teams .ff {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
  }

  .teams .fl {
    position: absolute;
    top: 280px;
    left: 50%;
    transform: translateX(-50%);
  }

  .club {
    position: relative;
  }

  .club h1 {
    top: 320px;
    left: 50%;
    transform: translateX(-50%);
  }

  .club .fn {
    top: 360px;
    left: 50%;
    transform: translateX(-50%);
  }

  .club .fsh {
    top: 390px;
    left: 50%;
    transform: translateX(-50%);
  }

  .club .fst {
    top: 420px;
    left: 50%;
    transform: translateX(-50%);
  }

  .club .fap {
    top: 450px;
    left: 50%;
    transform: translateX(-50%);
  }

  .club .frec {
    top: 480px;
    left: 50%;
    transform: translateX(-50%);
  }

  .socials {
    position: relative;
  }

  .socials h1 {
    top: 520px;
    left: 50%;
    transform: translateX(-50%);
  }

  .socials .ft {
    top: 560px;
    left: 50%;
    transform: translateX(-50%);
  }

  .socials .fd {
    top: 590px;
    left: 50%;
    transform: translateX(-50%);
  }

  .socials .fy {
    top: 620px;
    left: 50%;
    transform: translateX(-50%);
  }

  .socials .flive {
    top: 650px;
    left: 50%;
    transform: translateX(-50%);
  }

  .socials .fi {
    top: 680px;
    left: 50%;
    transform: translateX(-50%);
  }

  footer p {
    top: 750px;
    left: 50%;
    transform: translateX(-50%);
  }

  .credits a {
    top: 845px;
    left: 50%;
    transform: translateX(-50%);
  }

}

@media all and (max-width : 550px) {
  footer {
    height: 1000px;
  }
  footer p {
    width: 210px;
    left: 55%;
  }
  .credits a {
    top: 910px;
  }
}